{% extends "polls/base.html" %}

{% block heading %}
    {{ block.super }}
    <h4>actual polls:</h4>
{% endblock heading %}

{% block content %}
{% if latest_question_list %}
<ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text|linebreaks }}</a></li>
    {% endfor %}
</ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<p>
    {% include "polls/about.html" %}
</p>
{% endblock content %}
