{% extends "polls/base.html" %}

{% block heading %}
{{ block.super }}
<h4>result for question:</h4>
{% endblock heading %}

{% block content %}
<h3>{{ question.question_text }}</h3>
<br>

<ul>
    {% for choice in question.choice_set.all %}
    <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
    {% endfor %}
</ul>

<a href="{% url 'polls:index' %}">Vote again?</a>


<p>
    {% include "polls/about.html" %}
</p>
{% endblock content %}